<div class="container">
    <div>
        <h1>BURGERS</h1>
    </div>
    {{!-- Burgers to be eaten --}}
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                {{#each burgers}}
                  {{#unless devoured}}
                    {{> burgers/burger-block devoured=true}}
                  {{/unless}}
                {{/each}}
            </div>
        </div>

    </div>
    {{!-- Eaten burgers --}}
    <div class="col-md-6">
      <div class="card">
          <div class="card-body">
              {{#each burgers}}
                {{#if devoured}}
                  {{> burgers/burger-block devoured=false}}
                {{/if}}
              {{/each}}
          </div>
      </div>
    </div>
</div>